body {
}

#map-canvas {
    height: 400px;
    /*width: 500px;*/
    align-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

.menuBox {
    border: 1px solid #cccccc;
    height: 120px;
    background-color: aliceblue;
}