body {
}

#map-canvas {
    height: 400px;
    align-content: center;
}

.menuBox {
    border: 1px solid #cccccc;
    height: 120px;
    background-color: aliceblue;
}
.mi {
    margin: 50px;
}

.imgbox {
    width: 100%;
}

.main-button {
  margin-bottom: 10px;
}

.main-button > button > .glyphicon {
  float: left;
}

.navbar-left {
    float:left;
    margin-left:15px;
    padding:6px 10px;
}
